*{
	box-sizing: border-box;
}

body{
	margin-left: 30px;	
	font-family: cursive;
}

.row{
	width: 100%;
}

h1{
	text-align: center;
}

.box{
	width: 100%;
	overflow: none;
}

.content{
	overflow: none;
	text-align: center;
	border: 2px solid black;
	width: 100px;
	height: 40px;
	padding: 5px;
	float: right;
	margin-right: 20px;
	margin-top: 0;
	position: relative;
}

.prop{
	background-color: grey;
	border: 2px solid black;
	width: auto;
	height: auto;
	padding: 10px;
	padding-top: 40px;
	margin-right: 20px;
}

.n1{
	background-color: pink;
}

.n2{
	background-color: red;
	color: white;
}

.n3{
	background-color: yellow;
}

/*Desktop View*/
@media (min-width: 992px){

	.col-lg-4{
		float: left;
		width: 33.33%
	}
}

/*Tablet View*/
@media (min-width: 768px) and (max-width: 991px){

	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%
	}
}

/*Mobile View*/
@media (max-width: 767px){

	.col-sm-12{
		float: left;
		width: 100%;
	}
}